*,
*:before,
*:after {
  box-sizing: border-box;
}

/*CSS Variables*/

:root {
  --bg: #ebebeb;
  --white: #f7f7f7;
  --soft-grey: #9e9e9e;
  --black: #292929;
  --text: #3d3d3d;
  --primary-color: #01ae50;
  --secondary-color: #0f223d;
}

/*Foundation Start*/

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  font-family: "Jost Reg", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--text);
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.content {
  flex: 1 0 auto;
}

h1,
h2,
h3 {
  line-height: 1.3em;
  margin-bottom: 16px;
}

p {
  line-height: 1.5em;
}

/*Navigation*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: hsla(0, 0%, 0%, 0);
  /*box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.15), 0 2px 4px hsla(0, 0%, 0%, 0.12);*/
  font-family: "Jost Med", Arial, Helvetica, sans-serif;
  z-index: 2;
}

.nav-container {
  max-width: 1400px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.desktop-nav {
  height: 100%;
  padding-top: calc(22px);
}

.desktop-nav > ul {
  display: block;
}

ul li {
  display: inline;
  list-style-type: none;
}

.desktop-nav > ul > li > a {
  margin-left: 16px;
  color: var(--white);
}

.desktop-nav > ul > li:first-of-type a {
  margin-left: 0;
}

a {
  text-decoration: none;
}

.desktop-nav a:link {
  color: var(--white);
}

.desktop-nav a:visited {
  color: var(--white);
}

.desktop-nav a:hover {
  color: var(--primary-color);
}

.desktop-nav a:active {
  color: var(--white);
}

/*Dropdown Menu*/

.dropdown-wrapper {
  position: relative;
  width: max-content;
  height: min-content;
  display: inline-flex;
  flex-direction: column;
  margin-left: 16px;
}

.dropdown-wrapper:hover {
  height: max-content;
}

.dropdown-wrapper p {
  position: relative;
  color: var(--white);
  z-index: 2;
}

.dropdown-wrapper:hover p {
  color: var(--primary-color);
}

.dropdown-wrapper p:hover {
  cursor: pointer;
}

.dropdown-wrapper ul {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  height: max-content;
  padding-top: 38px;
  border-radius: 4px;
  flex-direction: column;
  overflow: hidden;
}

.dropdown-wrapper ul:before {
  display: block;
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
  border: 0;
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.15), 0 2px 4px hsla(0, 0%, 0%, 0.12);
}

.dropdown-wrapper:hover ul {
  display: flex;
}

.dropdown-wrapper li {
  position: relative;
  height: max-content;
  padding: 8px;
  background-color: var(--white);
  background: linear-gradient(0deg, rgba(235, 235, 235, 1) 0%, rgba(247, 247, 247, 1) 100%);
  z-index: 1;
}

.dropdown-wrapper ul a {
  display: inline-block;
  height: max-content;
  padding: 0;
  color: var(--text) !important;
  font-size: 14px;
}

.dropdown-wrapper ul a:hover {
  color: var(--primary-color) !important;
}

/*Mobile Menu*/

#menu-container {
  display: none;
  width: 36px;
  height: 36px;
}

.mobile-menu {
  max-width: 300px;
  width: calc(100% - 50px);
  bottom: 0;
  padding: 16px 8px;
  position: fixed;
  top: 96px;
  transform: translate(-100%);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.show-menu {
  transform: translate(0%);
}

.mobile-menu ul {
  display: initial;
}

.mobile-menu li {
  display: block;
  padding: 8px 0;
  border-bottom: solid 1px var(--bg);
}

.mobile-menu li:last-child {
  padding: 8px 0 0 0;
  border: none;
}

span.seperator {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 8px;
  background-color: var(--bg);
}

.mobile-menu a {
  display: block;
  margin: 0;
}

/*Fullscreen Hero Image*/

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/hero-image.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

.hero-inner {
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.1);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5046393557422969) 100%);
  display: flex;
  align-items: center;
}

.hero-inner .text-wrapper {
  max-width: 600px;
  font-size: 32px;
  color: var(--white);
  text-align: left;
}

.hero-inner a {
  color: var(--white);
  font-size: 24px;
}

.hero-inner a:first-of-type {
  margin-right: 32px;
}

/*Image Slider*/

.carousel-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 500px;
}

.carousel-slide img {
  min-width: 100%;
  object-fit: cover;
}

#previousBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

/*Service Grid*/

.service-grid {
  width: 100%;
}

/*Footer*/

footer {
  flex-shrink: 0;
  width: 100%;
  background-color: var(--secondary-color);
}

.footer-grid {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--white);
}

.footer-grid section {
  padding: 16px 8px;
}

.designed-by-wrapper {
  max-width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 0 auto;
}

#designed-by {
  width: 250px;
}

/*Icons Start*/

.arrow-left {
  display: block;
  background-image: url("../icons/left-chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}

.arrow-right {
  display: block;
  background-image: url("../icons/right-chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}

/*Misc*/

.stop-scrolling {
  overflow: hidden;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

.no-bot-marg {
  margin-bottom: 0 !important;
}

/*Media Queries*/

@media screen and (max-width: 1400px) {
  .nav-container {
    padding: 0 8px;
  }
}

@media screen and (max-width: 600px) {
  .desktop-nav {
    display: none;
  }
  #menu-container {
    display: block;
  }
}

/*Fonts*/

@font-face {
  font-family: "Jost Reg";
  src: url("../fonts/Jost/Jost-Regular.ttf");
}

@font-face {
  font-family: "Jost Med";
  src: url("../fonts/Jost/Jost-Medium.ttf");
}

@font-face {
  font-family: "Jost Semi B";
  src: url("../fonts/Jost/Jost-SemiBold.ttf");
}
